body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

footer {
    background-image: linear-gradient(rgba(39, 32, 68, 0.9), rgba(39, 32, 68, 0.9)), url("../images/jc-banner-profile.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

footer a {
    color: #FB5C8D;
    text-decoration: none;
}

footer h3 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    margin: 16px 0;
}

footer li {
    margin-bottom: 8px;
}

footer p {
    font-family: 'Poppins', sans-serif;
    opacity: 0.7;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    padding: 70px 0;
}

.footer-section {
    max-width: 80%;
    padding: 30px;
}

.hero {
    background-image: linear-gradient(rgba(39, 32, 68, 0.56), rgba(39, 32, 68, 0.56)),
    url("../images/jc-magic-fingers.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    max-height: 900px;
    padding: 200px 20px;
    text-align: center;
}

.hero a {
    background: #FB5C8D;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding: 16px 32px;
    text-decoration: none;
    transition: all 0.2 ease-in-out;
}

.hero a:hover {
    background: #f17a9e;
}

.hero h1 {
    font-size: 128px;
    font-weight: 800;
    margin: 64px auto 16px;
}

.hero h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 auto 64px;
}

.hero h3 {
    font-weight: 24px;
    font-weight: 800;
    letter-spacing: 5px;
    margin: 16px auto;
}

.info h2 {
    font-size: 48px;
}

.grid-2-col {
    display: grid;
    grid-gap: 44px;
    grid-template-columns: 1fr 1fr;
    margin: 20px auto;
}

.grid-3-col {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px auto;
}

.content {
    max-width: 80%;
}

.content h2 {
    margin: 0 0 32px;
}

.content p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 32px;
    margin-top: 0;
    opacity: 0.7;
}

.learn-more-link {
    background: #FB5C8D;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 16px 32px;
    text-decoration: none;
    transition: all 0.2 ease-in-out;
}

.learn-more-link:hover {
    background: #f17a9e;
}

.profile-img {
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}

.section-header {
    border-left: 4px solid #FB5C8D;
    color: #FB5C8D;
    font-size: 16px;
    letter-spacing: 5px;
    line-height: 1.5;
    margin: 80px 0 7px;
    padding-left: 5px;
}

.selected-films {
    background: #F9F4FF;
    background-size: cover;
}

@media (max-width: 1135px) {
    .hero h1 {
        font-size: 96px;
    }

    .profile-img {
        display: block;
        margin: 0 auto;
        max-width: 90%;
    }
}

@media (max-width: 1080px) {
    .content {
        max-width: 90%;
    }

    .content h2 {
        font-size: 36px;
        margin-bottom: 12px;
    }

    .content p {
        font-size: 14px;
    }

    footer {
        font-size: 14px;
    }

    footer h3 {
        font-size: 18px;
        margin: 12px 0;
    }

    .grid-2-col {
        grid-gap: 16px;
    }

    .hero {
    padding: 60px 0;
    }

    .hero h1 {
        font-size: 64px;
    }

    .hero h2 {
        font-size: 30px;
    }

    .hero h3 {
        font-size: 20px;
    }

    .info {
        grid-gap: 10px;
    }

    .learn-more-link {
        font-size: 12px;
    }

    .profile-img {
        max-width: 75%;
    }

    .section-header {
        font-size: 14px;
        margin-top: 30px;
    }
}


@media (max-width: 870px) {
    .content {
        max-width: 90%;
    }

    .content h2 {
        font-size: 28px;
    }

    .content p {
        font-size: 10px;
    }

    .hero {
    padding: 60px 0;
    }

    .hero h1 {
        font-size: 64px;
    }

    .hero h2 {
        font-size: 30px;
    }

    .hero h3 {
        font-size: 20px;
    }

    .info {
        grid-gap: 10px;
    }

    .learn-more-link {
        font-size: 10px;
        padding: 12px 24px;
    }

    .section-header {
        margin-top:20px;
        font-size: 10px;
    }
}

@media (max-width: 700px) {
    .content {
        padding: 0 36px;
    }

    .hero h2 {
        max-width: 80%;
    }

    .img-large-display {
        display: none;
    }

    .grid-2-col {
        grid-template-columns: 1fr;
    }

    .grid-3-col {
        grid-template-columns: 1fr 1fr;
    }

    section {
        padding: 16px;
    }
}

@media (max-width: 600px) {
    .content {
        padding: 0 24px;
    }

    footer {
        padding: 24px 0;
    }

    .grid-3-col {
        grid-template-columns: 1fr;
    }

    .hero {
        max-height: 500px;
    }

    .hero h1 {
        max-width: 90%;
    }
}

@media (max-width: 330px) {
    .hero h1 {
        font-size: 48px;
    }

    .hero h2 {
        font-size: 20px;
    }

    .hero h3 {
        font-size: 12px;
    }
}